body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar {
    min-height: 70px;
}

.navbar-nav > li > a,button {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.navbar-btn, .navbar-toggle {
    margin-top: 17px;
}
