@import "icons.less";
@import "colors.less";
@import "nav.less";
@import "search.less";

footer {
    padding: 40px 0 40px 0;
    background-color: @gray-darker;
    color: @brand-white;
    font-weight: 300;
    ul {
        padding: 0;
        list-style: none;
    }
    .footer-title {
        text-transform: uppercase;
    }
}